/*
.blinkButton{
    position: absolute;
    left: 180;
    font-family: 'Courier New', Courier, monospace;
    height: 30px;
    width: 100px;
    border: rgb(61, 94, 202);
    box-shadow: 0px 2px 10px;
    color: black;
    text-align: center;
    text-transform: uppercase;
    animation: showUp 1s forwards;
}

.blinkButton:hover{
    color: white;
    background-color: black;
    transition: 1s ease all;
}
*/

@keyframes showUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* @keyframes blink{
    50%{
        background-color: red;
    }
} */

/* .startStopButton{
    position: absolute;
    left: 180;
    font-family: 'Courier New', Courier, monospace;
    height: 30px;
    width: 100px;
    box-shadow: 0px 2px 10px;
    color: black;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    animation: showUp 1s 1s forwards;
} */

/* .startStopButton:hover{
    box-shadow: 0px 2px 10px rgb(77, 233, 90);
    transition: 1s ease all;
} */

/*Start button*/

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a.startButton {
  color: #000000;
  text-decoration: none;
  transition: 0.3s ease all;
}

a.startButton:hover {
  color: #fff;
}

a.startButton:focus {
  color: #fff;
}

.startButton {
  cursor: pointer;
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  font-size: 5vh;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 65vh;
  height: 6vh;
  font-weight: bold;
  border: .1vh solid #4400ff;
  border-radius: 2px;
  margin-top: 0.3vh;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  user-select: none;
}

.startButton:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #4400ff;
  z-index: -2;
}

.startButton:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.startButton:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

/*Stop button*/

a.stopButton {
  color: #000000;
  text-decoration: none;
  transition: 0.3s ease all;
}

a.stopButton:hover {
  color: #fff;
}

a.stopButton:focus {
  color: #fff;
}

.stopButton {
  cursor: pointer;
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  font-size: 5vh;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 65vh;
  height: 6vh;
  font-weight: bold;
  border: .1vw solid #b40e45;
  border-radius: 2px;
  margin-top: 0.3vh;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  user-select: none;
}

.stopButton:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #b40e45;
  z-index: -2;
}

.stopButton:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.stopButton:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

/*Blink button*/

a.blinkButton {
  color: #000000;
  text-decoration: none;
  transition: 0.3s ease all;
}

a.blinkButton:hover {
  color: #fff;
  z-index: 1;
}

a.blinkButton:focus {
  color: #fff;
}

.blinkButton {
  cursor: pointer;
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3vh;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 19vh;
  font-weight: bold;
  padding: 1vh 0px;
  border: .1vh solid #a793dd;
  border-radius: .8vh;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;
  user-select: none;
}

.blinkButton:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #a793dd;
  z-index: -2;
}

.blinkButton:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.blinkButton:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

@keyframes blink {
  100% {
    background-color: red;
    color: white;
  }
}

/*Menu button*/
a.menuButton {
  color: #000000;
  text-decoration: none;
  transition: 0.3s ease all;
}
a.menuButton:hover {
  color: #fff;
  z-index: 1;
}
.menuButton {
  cursor: pointer;
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3vh;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 28vh;
  font-weight: bold;
  padding: 1.5vh 0px;
  border: .4vh solid #a793dd;
  border-radius: .7vh;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;
  opacity: 0;
  user-select: none;
}
.menuButton:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #a793dd;
  z-index: -2;
}
.menuButton:hover:before {
  transition: 0.5s all ease;
  left: 0px;
  right: 0px;
  opacity: 1;
}

@keyframes menuButtonShow{
  0%{
      opacity: 0;
      transform: translateY(-2vh);
  }
  100%{
      opacity: 1;
      transform: translateY(0vh);
  }
}

@keyframes menuButtonHide{
  0%{
    opacity: 1;
    transform: translateY(0vh);
  }
  100%{
    opacity: 0;
    transform: translateY(-2vh);
  }
}