.daqRemoveImage{
    cursor: pointer;
    position: relative;
    top: -1.8vh;
    left: 1.1vh;
    height: 4vh;
    transition: 0.5s all ease;
}

.daqName{
    position: relative;
    top: 1.9vh;
    left: 6vh;
    width: 23vh;
    height: 4vh;
    text-align: center;
    border-radius: .8vh;
    font-size: 3vh;
    transition: 0.5s all ease;
}

.daqBatteryLevel{
    position: relative;
    top: 2.2vh;
    left: 8vh;
    font-size: 3.2vh;
    transition: 0.5s all ease;
}

.daqBatteryImage{
    position: relative;
    top: 2.8vh;
    left: 8.5vh;
    margin-top: -5vh;
    transform: rotate(-90deg);
    height: 4vh;
    transition: 0.5s all ease;
}

