.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sideNavIconBackgroundClass{
    background-color:#000111;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:15px;
	padding:26px 48px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;

    position: absolute;
    top: 6px;
    left: -40px;
    z-index: -1;
    animation: sideNavIconBackgroundShowUp 250ms ease-in forwards;
}

@keyframes sideNavIconBackgroundShowUp{
    0%{
        left: -90px;
    }
    100%{
        left: -40px;
    }
}

.kotLogoSideNav{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    z-index: 1;
    animation: lateralIntroLogoKOT 250ms ease-in forwards;
}

@keyframes lateralIntroLogoKOT{
    0%{
        left: -50px;
    }
    100%{
        left: 0px;
    }
}

@keyframes onOpen{
    0%{
        transform: rotateZ(0);
        filter: contrast(1);
        z-index: 1;
    }
    100%{
        transform: rotateZ(360deg);
        filter: contrast(0);
        z-index: 1;
    }
}

@keyframes onClose{
    0%{
        transform: rotateZ(360deg);
        filter: contrast(0);
        z-index: 1;
    }
    100%{
        transform: rotateZ(0);
        filter: contrast(1);
        z-index: 1;
    }
}

